
 <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/loginasset/images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="/signup" class="signup-image-link">Create an account</a>
                        <a href="/admin/adminlogin" class="signup-image-link">Admin Login</a>
                        
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">LogIn</h2>
                        <form method="POST" action="/submit" class="register-form" id="loginform" name="loginform">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="your_email" id="your_name" placeholder="Your Email" required oninput="emailValid()"/>
                                <span id="emailErr" class="nameValid"></span>
                                 
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="passw" id="your_pass" required placeholder="Password"/>
                                <span id="passReq" class="nameValid"></span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                {{#if auth}}
                                {{!-- <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label> --}}
                                <span class=" " id="invalid">invalid user</span>
                                {{/if}}
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="login" id="login" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
    </div>




<script>
  setTimeout(function() {
     document.getElementById("invalid").innerHTML= ""; 
}, 4000);  

    
  function passValid() {
    var text = document.getElementById("pass").value;
    console.log("sdjsdjsi");
    var letters = /^[a-zA-Z\s]*$/;
  
   
   if (text.length == 0) {
      // document.getElementById("nameLen").style.display = "block";
      document.getElementById("passLen").innerHTML= "required "; 
      
      // document.getElementById("nameErr").style.display = "none";
    }else if(text.length<3){
     
      document.getElementById("passLen").innerHTML= "Minimum Length required"; 
  
    } else {
    
      document.getElementById("passLen").innerHTML= " "; 
      
    }
   }



   function matchPassword() {  
    var pw1 = document.getElementById("pass").value;  
    // console.log(pw1)
    var pw2 = document.getElementById("repass").value;  
    // console.log(pw1)
    if(pw1 == pw2)  
    {     
      alert("Passwords match");  
    } else {    
      alert("Passwords did not match");  
    }  
  }  

  
  function emailValid() {
    var text = document.getElementById("your_name").value;
    var letters = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;
  
    if (text == "") {
      document.getElementById("emailErr").innerHTML = " required";
    //   document.getElementById("nameLen").style.display = "none";
    //   document.getElementById("nameErr").style.display = "none";
    } 
    else if (!text.match(letters)) {
      document.getElementById("emailErr").innerHTML = "Valid email required";
  
      // document.getElementById("emailErr").style.display = "block";
      // document.getElementById("emailReq").style.display = "none";
    //   document.getElementById("nameLen").style.display = "none";
  
    }
    else {
      document.getElementById("emailErr").innerHTML = " ";
    //   document.getElementById("nameErr").style.display = "none";
  
    }
  }
  
  
  
  
  function nameValid() {
    var text = document.getElementById("your_name").value;
    var letters = /^[a-zA-Z\s]*$/;
   if (text.length == 0) {
      // document.getElementById("nameLen").style.display = "block";
      document.getElementById("nameReq").innerHTML= "required "; 
      
      // document.getElementById("nameErr").style.display = "none";
    }else if(!text.match(letters)){
     
      document.getElementById("nameReq").innerHTML= "Only letters are allowed"; 
  
    }else if(text.length<3 && text.match(letters)){

      document.getElementById("nameReq").innerHTML= "Minimum Length required"; 
  
    }
     else {
    
      document.getElementById("nameReq").innerHTML= " "; 
      document.getElementById("nameReq").innerHTML= " "; 
      
    }
  }



   document.loginform.addEventListener("submit", function (event) {
    var email = this.querySelector("input[id=your_name]").value; 
    var pass = this.querySelector("input[id=your_pass]").value;
     var regx = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if (email.trim() == "" || !email.match(regx)) {
      document.getElementById("your_name").focus();
      event.preventDefault();
    }else if (pass.trim() == "" || pass.length < 3) {
      document.getElementById("your_pass").focus();
      document.getElementById("passReq").innerHTML= "password is too short"; 
      event.preventDefault();
    }
  });
  
  




  
    

</script>





{{!-- 
       document.loginform.addEventListener("submit", function (event) {
    var name = this.querySelector("input[id=your_name]").value;
    var pass = this.querySelector("input[id=your_pass]").value;

    if (name.trim() == "" || name.length < 3) {
      document.getElementById("your_name").focus();
      event.preventDefault();
    }else if (pass.trim() == "" || pass.length < 3) {
      document.getElementById("your_pass").focus();
      event.preventDefault();
    } 

  }); --}}